# Editors
.vscode

# Build artifacts
/src/**/*.js
/src/**/*.d.ts
/check/**/*.js
/check/**/*.d.ts
/filter/**/*.js
/filter/**/*.d.ts

# Docs
/website/.docusaurus
/website/build
/website/versioned_docs
/website/versioned_sidebars

# Misc
/coverage