language: node_js
node_js:
  # LTS
  - '10'
  - '12'
  - '14'
  - '16'
before_install:
  - npm install -g npm
install:
  - npm install
script:
  - npm test
  - npm run lint
  - npm run docs:build
after_success:
  - npm run report-coverage
