:root {
  --ifm-color-primary-lightest: #8b00e6;
  --ifm-color-primary-lighter: #7b00cc;
  --ifm-color-primary-light: #7600c3;
  --ifm-color-primary: #6b00b1;
  --ifm-color-primary-dark: #60009f;
  --ifm-color-primary-darker: #5b0096;
  --ifm-color-primary-darkest: #4b007c;
}
